<html>

  <body>

    <div class="row row-cols-1 row-cols-md-2 g-4">
      {{#each plantList}}
        <div class="col">
          <a href="/plants/{{this.id}}" style="color: black; text-decoration:none;">
            <div class="card" style="margin: 10px">
              <img
                src="{{this.image}}"
                class="card-img-top"
                alt="..."
                style="height: 450px; border-bottom: 1px solid;"
              />
              <div class="card-body">
                <h5 class="card-title">{{this.name}}</h5>
                <p class="card-text">Difficulty: {{this.difficulty}}</p>
              </div>
            </div>
          </a>
        </div>
      {{/each}}
    </div>
  </body>

</html>