<!DOCTYPE html>
<html>
    <body>
        <h1>what type of plants are you looking for</h1>
        <!-- Large button groups (default and split) -->
<button type="button" class="btn btn-primary btn-lg">indoor plants</button>
<button type="button" class="btn btn-secondary btn-lg">outdoor plants</button>
    </body>
</html>