<!DOCTYPE html>
<html>
    <body>
        <h1>What kind of plants are you looking for?</h1>
        <!-- Large button groups (default and split) -->
<a class="btn btn-primary" href="#" role="button">Link</a>
<button type="button" class="btn btn-primary btn-lg">Outdoor Plants</button>
<button type="button" class="btn btn-secondary btn-lg">Indoor Plants</button>
    </body>
</html>