<!DOCTYPE html>
<html>
    <body>
        <h1>What kind of plants are you looking for?</h1>
        <!-- Large button groups (default and split) -->
<a href="/indoor"><button type="button" class="btn btn-primary btn-lg">indoor plants</button></a>
<a href="/outdoor"><button type="button" class="btn btn-secondary btn-lg">outdoor plants</button></a>

    </body>
</html>