{{!-- 
  We should have an option underneath each form asking whether the user would like to sign
  up or log in instead and a continue as guest option. If the user selects login or signup
  instead, then we will want to add the display: none property to the one that is not being used
--}}

<div class="row">
  
  {{!-- Login form --}}
  <div class="col-md-6">
    <h2>Login</h2>

    <form id="login-form">
      <div>
        <label for="email">Email:</label>
        <input type="email" id="email" name="email" required />
      </div>
      <div>
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required />
      </div>
      <button type="submit">Log in</button>
    </form>
  </div>

  {{!-- Sign up form --}}
  <div class="col-md-6">
    <h2>Signup</h2>

    <form class="form signup-form"  method="post" action="/api/users/signup">
      <div class="form-group">
        <label for="name-signup">name:</label>
        <input class="form-input" type="text" id="name-signup" name="name"/>
      </div>
      <div class="form-group">
        <label for="email-signup">email:</label>
        <input class="form-input" type="text" id="email-signup" name="email"/>
      </div>
      <div class="form-group">
        <label for="password-signup">password:</label>
        <input class="form-input" type="password" id="password-signup" name="password"/>
      </div>
      <div class="form-group">
        <button class="btn btn-primary" type="submit">signup</button>
      </div>
    </form>
  </div>

  {{!-- Continue as guest link --}}
  <a class="nav-link" href="/">continue as guest</a>
</div>

<script src="./js/login.js"></script>