
header {
    float: right;
    padding: 20px 10px;
    font-size: 25px;
    width:100%;
    




}

nav {
 border: 1px solid;
 float: right;
 padding: 20px 10px;
 font-size: 25px;
 width:100%;


}

.card{
    flex-flow: column wrap;   
}

/* .col-md-6 {
    text-align: center;
}
