
header {
    float: right;
    padding: 20px 10px;
    font-size: 25px;
    width:100%;
    




}

nav {
 border: 1px solid;
 float: right;
 padding: 20px 10px;
 font-size: 25px;
 width:100%;


}

.card{
    flex-flow: column wrap;   
}

.main-card {
    width: 275px;
    box-shadow: 0 0 10px 2px #bfbfbf;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

/* .col-md-6 {
    text-align: center;
}
